<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/ace-mvc/public/css/style.css" />
</head>
<body>

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <a href="/ace-mvc/public">Home</a>
                <a href="/ace-mvc/public/posts/index">Posts</a>
                <a href="/ace-mvc/public/items/index">Items</a>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user %}
                <a href="/ace-mvc/public/profile/show">Profile</a>
                <a href="/ace-mvc/public/logout">Logout</a>

                {% else %}
                <a href="/ace-mvc/public/signup">Sign up</a>
                <a href="/ace-mvc/public/login">Login</a>

                {% endif %}
            </ul>
        </div>
    </nav>


    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type }}">
        {{ message.body }}
    </div>
    {% endfor %}

    {% block content %}

    {% endblock %}

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

{% block footer %}

{% endblock %}
</body>
</html>